.projects_list_block{
    border-width: 1px;
    border-top-style: dashed;
    border-color: var(--bg-dark);
    padding-top: 1rem;
    padding-bottom: 1rem;
    .projects_list_header{
        display: flex;
        padding-bottom: 1rem;
        .projects_list_title{
            flex: 1;
        }
    }
    .projects_list{
        display: grid;
        gap: 12px;
    }
}
