.todo{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 320px;
}
.todo-list{
    display: grid;
    justify-content: center;
    padding-top: 50px;

}
.main{
    min-width: 100%;
    min-height: 100vh;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    padding-top: 50px;
}
.title{
    flex: 1;
    border-bottom: 2px solid #ccc;
    font-size: 20px;
}
.icon{
    background-color: #ccc;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* padding: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
}