.workspaces{
    border-width: 1px;
    border-color: var(--bg-dark);
    border-top-style: dashed;
    border-bottom-style: dashed;
    padding-top: 16px;
    padding-bottom: 16px;
    .workspaces_header{
        display: flex;
        padding-bottom: 16px;
        .header_title{
            flex: 1;
        }
    }
    .workspaces_list{
        display: grid;
        gap: 12px;
    }
}
