.workspace-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e5e5;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}
.workspace-name{
    flex: 1;
    padding: 0 0.5rem;
    font-weight: 400;
}