.page{
    width: 100%;
    padding: 1rem;
    .total_results{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        border: 1px solid var(--bg-second);
        border-radius: 5px;
    }
    // // ====== media queries ======
    // @media (min-width: 580px) {
    //     .total_results{
    //         grid-template-columns: repeat(2, 1fr);
    //     }
    // }
    // @media (min-width: 768px) {
    //     .total_results{
    //         grid-template-columns: repeat(3, 1fr);
    //     }
    // }
    // @media (min-width: 1024px) {
    //     .total_results{
    //         grid-template-columns: repeat(5, 1fr);
    //     }
    // }
    // 
    .dashboard_wrapper{
        display: grid;
        grid-template-columns: 1fr;
        // min-height: 100%;
        gap: 1rem;
        margin-top: 1rem;
        // assigned tasks section -------------------
        .tasks_viewer{
            padding: 0 10px;
            display: grid;
            align-self: start;
            .assigned_section{
                padding: 1rem;
                background-color: var(--bg-second);
                border-radius: 8px;
                .assigned_header{
                    display: flex;
                    align-items: center;
                    padding-bottom: 10px;
                    border-bottom: 2px dotted var(--bg-dark);
                    .title{
                        flex: 1;
                        font-weight: 600;
                    }
                    .plus_button{
                        width: 25px;
                        height: 25px;
                        border-radius: 15%;
                        background-color: var(--bg-dark);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .tasks_viewer_list{
                    // border-left: 2px dotted var(--bg-second);
                    display: grid;
                    gap: 10px;
                    padding: 1rem 0;
                }
                .show_all_button{
                    width: 100%;
                    background-color: var(--bg-dark);
                    border-radius: 8px;
                    text-align: center;
                    padding: 10px;
                    .inner_text{
                        font-weight: 600;
                        color: var(--text-second);
                    }
                    
                }
            }
            // people section -------------------
            .people_section{
                margin-top: 1rem;
                width: 100%;
                border: 1px solid var(--bg-second);
                border-radius: 8px;
                padding: 1rem;
                .people_header{
                    display: flex;
                    padding-bottom: 10px; 
                    border-bottom: 2px dotted var(--bg-dark);
                    .title{
                        flex: 1;
                        font-weight: 600;
                    }
                    .settings_button{
                        width: 25px;
                        height: 25px;
                        border: 1px solid var(--bg-second);
                        border-radius: 15%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .people_list{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 10px;
                    margin-top: 1rem;
                }
            }
        }
        // projects section ----------------------
        .projects_viewer{
                border: 1px solid var(--bg-second);
                border-radius: 8px;
                padding: 1rem;
                display: grid;
                align-self: start;
                gap: 1rem;
            .projects_header{
                display: flex;
                align-items: center;
                padding-bottom: 10px;
                border-bottom: 2px dotted var(--bg-dark);
                .title{
                    flex: 1;
                    font-weight: 600;
                }
                .plus_button{
                    width: 25px;
                    height: 25px;
                    border-radius: 15%;
                    background-color: var(--bg-dark);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .projects_list{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
            }
        }
    }





    @media (min-width: 768px) {
        .dashboard_wrapper{
            grid-template-columns: 1fr 1fr;
        }
    }

}
