.page{
    width: 100%;
    height: 100%;
    padding: 1rem;
    // background-color: palegreen;
    .total_results{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        border: 1px solid var(--bg-second);
        border-radius: 5px;
    }
    // // ====== media queries ======
    // @media (min-width: 580px) {
    //     .total_results{
    //         grid-template-columns: repeat(2, 1fr);
    //     }
    // }
    // @media (min-width: 768px) {
    //     .total_results{
    //         grid-template-columns: repeat(3, 1fr);
    //     }
    // }
    // @media (min-width: 1024px) {
    //     .total_results{
    //         grid-template-columns: repeat(5, 1fr);
    //     }
    // }
    // @media (min-width: 1200px) {
    //     .total_results{
    //         grid-template-columns: repeat(5, 1fr);
    //     }
    // }

}
