.big_cube{
    width: 30px;
    height: 30px;
    border-radius: 15%;
    background-color: var(--bg-contrast);
    color: var(--bg-main);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cube{
    width: 20px;
    height: 20px;
    border-radius: 15%;
    background-color: var(--bg-contrast);
    font-size: var(--little);
    color: var(--bg-main);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--bg-dark);
    color: var(--bg-main);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}