.big-cube{
    width: 2rem;
    height: 2rem;
    border-radius: 15%;
    background-color: var(--bg-contrast);
    color: var(--bg-main);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cube{
    width: 1rem;
    height: 1rem;
    border-radius: 15%;
    background-color: var(--bg-contrast);
    font-size: 0.6rem;
    color: var(--bg-main);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--bg-dark);
    color: var(--bg-main);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}