.project_board{
    border: 1px solid var(--bg-second);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    .project_name{
        flex: 1;
        margin-left: 5px;
    }
}