
:root{
    /* backgroun colors */
    --bg-main: #ffffff;
    --bg-second: #f4f4f4;
    --bg-dark: #d6d6d6;
    --bg-contrast: #2962e7;
    /* text colors */
    --text-main: #060606;
    --text-second: #8e8e8e;

    --green: #38CB94;
    --red: #F475B7;
    --yellow: #F9CC1A;
    

    --xxs: 320px;
    --xs: 425px;
    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
    --xxl: 1536px;
    
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
button{
    display: inline-block;
    border: none;
}
a{
    text-decoration: none;
}
p, h1, h2, h3, h4, h5 {
    font-weight: normal;
}
html, body{
    background-color: var(--bg-main);
    color: var(--main-text);
    width: 100%;
    scroll-behavior: smooth;
    height: 100%;
    font-size: 16px;
    line-height: 1.15;
    font-weight: 400;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/* @media (min-width: 580px) {
    html,
    body {
        font-size: 15px;
    }
}
@media (min-width: 768px) {
    html,
    body {
        font-size: 16px;
    }
}
@media (min-width: 1200px) {
    html,
    body {
        font-size: 17px;
    }
} */
