nav{
    display: grid;
    gap: 8px;
    padding: 1rem 0;
    .nav-link{
        color: var(--text-second);
        text-decoration: none;
        display: flex;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
        .link-name{
            font-weight: 400;
            padding-left: 8px;
        }
    }
    .active{
        background-color: var(--bg-main);
        color: var(--text-main);
    }
}
