.person_cell{
    display: grid;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--bg-second);
    border-radius: 5px;
    padding: 12px;
    .badge{
        display: flex;
        justify-content: center;
    }
    .person_name{
        text-align: center;
        font-weight: 500;
    }
    .person_email{
        text-align: center;
        font-size: var(--small);
        color: var(--text-second);
    }
}