.projects{
    border-width: 1px;
    border-top-style: dashed;
    border-bottom-style: dashed;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .projects-header{
        display: flex;
        padding-bottom: 1rem;
        .projects-title{
            flex: 1;
        }
    }
    .projects-list{
        display: grid;
        gap: 10px;
        .project-link{
            display: flex;
            align-items: center;
            color: grey;
            padding: 10px 0;
            text-decoration: none;
            border: 1px solid red;
            .project-name{
                padding-left: 10px;
                font-weight: 400;
            }
        }
    }
}
