.circle{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--bg-dark);
    color: var(--text-second);
    font-size: var(--little);
    display: flex;
    justify-content: center;
    align-items: center;
}