.table_item{
    display: grid;
    grid-template-columns: 6.5fr 6.5fr 4fr 4fr 4fr;
    padding: 0.5rem;
    border-top: 1px solid var(--bg-second);
    .task_name{
        display: flex;
        align-items: center;
        // border: 1px solid red;
        .task_dicription{
            margin-left: 0.5rem;
        }
    }

    // project cell -----------
    .project_cell{
        display: flex;
        align-items: center;
        // border: 1px solid red;
        .project_name{
            margin-left: 0.5rem;
        }
    }
    // asigned person ----------
    .assigned_person{
        display: flex;
        align-items: center;
        // border: 1px solid red;
        .person_badge{
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: var(--bg-dark);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .person_name{
            margin-left: 0.5rem;
        }
    }
    // due date ----------------
    .due_date{
        display: flex;
        align-items: center;
        // border: 1px solid red;
        .date{

        }
    }
    // colored status -------------------
    .task_status{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
// && daysByDutDate - criticalPeriodInMiliseconds + dayInMiliseconds < criticalPeriodInMiliseconds