.filters_row{
    display: flex;
    gap: 8px;
    padding: 1rem 0;
    .filter{
        border: 1px solid var(--bg-second);
        border-radius: 5px;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        .filter_title{
            color: var(--text-main);
        }
    }
}
// tasks full list --------------
.tasks_table{
    margin-bottom: 1rem;
    border: 1px solid var(--bg-second);
    border-radius: 8px;
    .table_header{
        display: grid;
        gap: 5px;
        grid-template-columns: 6.5fr 6.5fr 4fr 4fr 4fr;
        padding: 0.5rem;
        border-top: 1px solid var(--bg-second);
        font-size: 0.8rem;
        .column_name{
            display: flex;
            gap: 0.5rem;
            align-items: center;
            color: var(--text-second);
            padding-left: 1rem;
        }
        .column_name_first{
            display: flex;
            align-items: center;
            color: var(--text-second);
            gap: 20px;
        }
    }
}
// pagination -----------
.pagination{

}