.page{
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    .task_page{
        border: 1px solid var(--bg-second);
        border-radius: 8px;
        padding: 0 1rem;
        
        min-height: 100%;
        // filters row --------------
        .filters_row{
    
        }
        // tasks full list --------------
        .tasks_full_list{
    
        }
        // pagination -----------
        .pagination{
    
        }
    
    }
}