.projects{
    border-width: 1px;
    border-top-style: dashed;
    border-color: var(--bg-dark);
    padding-top: 1rem;
    padding-bottom: 1rem;
    .projects-header{
        display: flex;
        padding-bottom: 1rem;
        .projects-title{
            flex: 1;
        }
    }
    .projects-list{
        display: grid;
        gap: 12px;
        .project-link{
            display: flex;
            align-items: center;
            color: var(--text-second);
            padding: 5px 0;
            text-decoration: none;
            .project-name{
                padding-left: 12px;
                font-weight: 400;
            }
        }
    }
}
