.bordered{
    border: 1px solid var(--bg-second);
    border-radius: 8px;
    color: var(--text-main);
    .link_inner{
        padding: 12px;
        display: flex;
        align-items: center;
    
        .project_name{
            flex: 1;
            margin-left: 5px;
        }
    }
}
.dark_block{
    border-radius: 8px;
    background-color: var(--bg-dark);
    padding: 5px;
    color: var(--text-main);
    .link_inner{
        display: flex;
        align-items: center;
        .project_name{
            flex: 1;
            margin-left: 5px;
        }
    }
}
.smaller{
    border-radius: 8px;
    background-color: var(--bg-dark);
    padding: 5px;
    color: var(--text-main);
    .link_inner{
        display: flex;
        align-items: center;
        .project_name{
            flex: 1;
            margin-left: 5px;
            font-size: var(--small);
        }
    }
}