.top-header{
    display: flex;
    align-items: center;
    height: 80px;
    padding: 16px;
    .header-title{
        flex: 1;
        color: var(--text-main);
        .page-name{
            font-weight: 500;
        }
        .header-discription{
            color: var(--text-second);
            font-size: var(--small);
            padding-top: 5px;
        }
    }
    .account-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 15%;
        background-color: var(--bg-second);
        color: var(--text-main);
        text-decoration: none;
    }
}