.workspace_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-dark);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.workspace_name{
    flex: 1;
    padding: 0 8px;
}